<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Pik clone</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pik:create-post' %}">Objavi artikal</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Objavi artikal</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pik:user-profile' user.id %}">Zdravo, {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'pik:posts-search' %}">
      <input class="form-control mr-sm-2" type="text" name="search-site" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>